<!DOCTYPE html>
<html lang="en">
    <head>
    <%- include('partials/head'); %>
    </head>
    <body class="container">
        <header>
        <%- include('partials/header'); %>
        </header>
        <main>
            <div class="content">
                <div class="upper">
                    <h1 class="gradient-text" style="font-size: 5em;
                            margin-top : 0.67em;
                            margin-bottom : 0.67em;"
                    >Welcome to Geoffery's Book Collection</h1>
                    <h2>Click <span class=library><a href="/library">here</a></span> to view the collection</h2>
                </div>
                <div class="lower">
                    <img class="pageImg" src="pageImage.jpeg" alt="An image of a book"/>
                </div>
            </div>
        </main>
        <footer>
            <%- include('partials/footer'); %>
        <footer>
    </body>
</html>