<!DOCTYPE html>
<html lang="en">
    <head>
    <%- include('partials/head'); %>
    </head>
    <body onload="openLibrary()" class="container">
        <header>
        <%- include('partials/header'); %>
        </header>
        <main class='content'>
            <h1 class="gradient-text mt-2" style="text-align: center;"> Explore the Collection </h1>
            <div  id="library">
                <!-- <div class="card" style="width: 18rem;">
                    <img src="" class="card-img-top" alt="" id="cd_img">
                    <div class="card-body">
                        <h5 class="card-title" id="cd_title"></h5>
                        <h6 class="card-subtitle mb-2 text-muted" id="cd_author"></h6>
                        <p class="card-text" id="cd_description"></p>
                        <p class="card-text" id="cd_catergory"></p>
                    </div>
                </div> -->
            </div>
        </main>
        <footer>
            <%- include('partials/footer'); %>
        <footer>
    </body>
</html>